input:focus {
    outline: none;
}
.nav-tabs {
    border-bottom: none;
}
/* 헤더  */
.header-bg{
    background: #E4E4E4;
}

.container-full-title .col-sm-12 {
    padding-left: 2rem;
}
.main-content-title{
    display: flex;
    align-items: center;
}
.main-content-title h1 {
    font-family: "KoPub Dotum";
    font-weight: 300;
    font-size: 2rem;
}
.main-content-title h1 span {
    font-weight: bold;
}
.main-content-title img{
    display: block;
    width: 2rem;
    height: 2rem;
    margin-left: .5rem;
}


/* 헤더 끝 */

/* 혜택 하단 스와이퍼 ( 2줄 )  */
.benefit-wrap {
    background: #fff;
}

.container-full-navi .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.container-full-navi .swiper-slide a {
    min-height: 7.5em;
}
.container-full-navi span {
    position: absolute;
    top: 0;
    font-family: "Noto Sans KR";
    font-weight: bold;
    font-size: .5rem;
    color: #fff;
    padding: .0625rem 1rem;
    border-radius: 1rem;
    background: #FC274F;
}
.container-full-navi .icon_area {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 5.5rem;
    margin-top: .5rem;
}
.container-full-navi .text_area p {
    font-size: 1rem;
    font-weight: 800;
    transform: skew(-0.1deg);
}
.container-full-navi a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.swiper-container-multirow-column>.swiper-wrapper {
    flex-direction: row;
}
.container-full-navi .navi_next,
.container-full-navi .navi_prev {
    z-index: 15;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
.container-full-navi .navi_prev {
    left: 0;
}
.container-full-navi .navi_next {
    right: 0;
}

.container-full-navi .navi_next img,
.container-full-navi .navi_prev img {
    width: 1rem;
}

/*  */



/* 컨텐츠 전체 감싸는 영역 */

/* 컨텐츠 타이틀 */
.title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.title h1 {
    font-family: "KoPub Dotum";
    font-weight: 200;
    font-size: 2rem;
}
.title h2 {
    font-family: "KoPub Dotum";
    font-weight: 200;
    font-size: 2rem;
}
.title span {
    color: #fc274f;
}
.title h2 span {
    color: #000;
}
.title span > span {
    font-weight: 900;
}
.title a {
    color: #999;
    margin-left: 1rem;
}
.title a img {
    width: .5rem;
    margin-left: .5rem;
}

/* container-real-tile */
.realtime_area .conts {
    margin-top: 1.5rem;
    padding: 1rem 1.5rem;
    border: 1px solid #d8d8d8;
    border-radius: 1rem;
    background: #fff;
}
.container-real-tile .type {
    display: flex;
    align-items: center;
}
.container-real-tile .type > select:first-child {
    width: 40%;
}
.container-real-tile .type button {
    border: none;
    cursor: pointer;
    background: transparent;
}
.container-real-tile .area-search {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container-real-tile .area-search select {
    width: 80%;
}
select{
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    outline: none;
    background: url(../images/icon/ico_tri_down.png)no-repeat;
    background-position: 95% center;
}
select::-ms-expand{
    display: none;
}

.recently{
    display: flex;
}


.container-real-tile .conts {
    margin-top: 1rem;
    padding: 1.5rem;
    border-radius: 1rem;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
}
.wedding-category{
    color: #7F7F7F;
    padding: 1rem;
    border: 1px solid #d8d8d8;
    border-radius: 1.5rem;
    background-position: 90% center;
    background-size: 16px;
}

.area-wedding-category{
    margin: 0 1rem;
}

.recently a{
    position: relative;
    font-family: "Noto Sans KR";
    font-weight: 300;
    color: #7F7F7F;
    padding: 0 1rem;
}
.recently a:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    display: block;
    width: 1px;
    height: 1rem;
    background: #d8d8d8;
}

/* container-full-main-banner */

.container-full-main-banner .swiper-slide{
    width: 80%;
    height: 100px;
    border-radius: 30px;
}
.container-full-main-banner .swiper-pagination-bullet {
    background: #fff;
    cursor: pointer;
}

.main-banner-01{
    background: url('../images/pg_banner1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.main-banner-02{
    background: url('../images/pg_banner1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.main-banner-03{
    background: url('../images/pg_banner1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.main-banner-04{
    background: url('../images/pg_banner1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.main-banner-05{
    background: url('../images/pg_banner1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


/* containder-full-here */

/* content-slider */
.content_wrapper {
    position: relative;
    margin-top: 2rem;
}
.content_wrapper .content-slider {
    padding: 0 30px;
}
.content_wrapper .swiper-slide {
    display: flex;
    justify-content: center;
}
.content_wrapper .img_area{
    max-width: 12.5rem;
    width: 12.5rem;
    max-height: 12.5rem;
    height: 12.5rem;
    border-radius: 50%;
}
.content_wrapper .content-01 .img_area {
    background: url(../images/slide1.jpg)no-repeat;
    background-position: center;
    background-size: cover;
}
.content_wrapper .content-02 .img_area {
    background: url(../images/slide2.jpg)no-repeat;
    background-size: cover;
}
.content_wrapper .content-03 .img_area {
    background: url(../images/slide3.png)no-repeat;
    background-size: cover;
}
.content_wrapper .here-slider .content-01 .img_area {
    background: url(../images/slide4.png)no-repeat;
    background-size: cover;
}
.content_wrapper .here-slider .content-02 .img_area {
    background: url(../images/slide5.png)no-repeat;
    background-size: cover;
}
.content_wrapper .here-slider .content-03 .img_area {
    background: url(../images/slide6.png)no-repeat;
    background-size: cover;
}

.content_wrapper .text_area {
    margin-top: .3571rem;
    margin-left: 1rem;
}
.content_wrapper .text_area p {
    font-size: 1.2857rem;
    font-weight: 800;
    color: #1E1E1E;
}
.content_wrapper .text_area span {
    display: block;
    font-family: "Noto Sans KR";
    font-weight: 300;
    color: #1E1E1E;
}
.content_wrapper .text_area img {
    vertical-align: text-top;
    width: 1rem;
    height: 1rem;
    margin-left: .25rem;
}

.content_wrapper .next,
.content_wrapper .prev,
.tip_wrapper .next,
.tip_wrapper .prev {
    z-index: 15;
    position: absolute;
    top: 40%;
    transform: translateY(-40%);
    cursor: pointer;
}
.content_wrapper .next img,
.content_wrapper .prev img,
.tip_wrapper .next img,
.tip_wrapper .prev img {
    width: 1rem;
}
.content_wrapper .next,
.tip_wrapper .next {
    right: 0;
}
.content_wrapper .prev,
.tip_wrapper .prev {
    left: 0;
}

.container-full-personal .tip_wrapper {
    position: relative;
    margin-top: 2rem;
    padding: 0 30px;
}
.container-full-personal .tip_wrapper .img_area {
    height: 10rem;
    border-radius: 1.5rem;
    overflow: hidden;
}
.container-full-personal .tip_wrapper .img_area img {
    width: 100%;
    height: 100%;
}
.container-full-personal .tip_wrapper .text_area {
    margin-top: 1rem;
}
.container-full-personal .tip_wrapper .text_area p {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-family: "Noto Sans KR";
    font-weight: normal;
    font-size: 1.1428rem;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
}


/* container-full-personal */


/* container-full-introduction */

.container-full-introduction .title h1 {
    font-family: "Noto Sans KR";
    font-weight: normal;
}
.region-introduction{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin: 0 0 .75rem 0;
}
.region-introduction a {
    font-size: .8571rem;
    color: #999;
}
.region-introduction a img {
    width: .5rem;
    margin-left: .25rem;
    vertical-align: text-top;
}
.introduction-title{
    display: flex;
    align-items: flex-end;
    font-size: 1.25rem;
    font-weight: bold;
}
.introduction-title p {
    color: #FF4F4F;
    margin-left: .5rem;
}
.introduction-title p span {
    font-size: .75rem;
    margin-left: .25rem;
}
.container-full-introduction .img_area img{
    width: 100%;
    border-radius: 1.5rem;
}

.container-full-introduction .area span {
    font-size: .875rem;
    color: #999;
}
.container-full-introduction .text_cont p {
    font-family: "Noto Sans KR";
    font-size: 1rem;
    color: #3C3C3C;
}

/* container-full-advertisement */

.container-full-advertisement .main-slider{
    height: 100px;
}
.container-full-advertisement .swiper-slide img {
    width: 100%;
    height: 100%;
}
.container-full-advertisement .main-slider .swiper-pagination {
    bottom: 5px;
}

/* container-full-tab */
.container-full-tab .tab_wrap ul li {
    position: relative;
}
.container-full-tab .tab_wrap ul li a {
    font-family: "Noto Sans KR";
    font-size: 1.1428rem;
    padding: 0 0.75rem;
    opacity: .7;
}
.container-full-tab .tab_wrap ul li:first-child a {
    padding-left: 0;
}
.container-full-tab .tab_wrap ul li.active a {
    opacity: 1;
    font-weight: bold;
}
.container-full-tab .tab_wrap {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.container-full-tab .tab_wrap ul li::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    display: block;
    width: 1px;
    height: 0.75rem;
    background: #333;
}
.container-full-tab .tab_wrap ul li:last-child::after{
    display: none;
}
.container-full-tab .tab-content {
    margin: 2rem 0;
}
.container-full-tab .no-conts {
    text-align: center;
    line-height: 1.5rem;
}
.container-full-tab .no-conts > span {
    color: #999;
}
.container-full-tab .no-conts > p {
    font-size: 1.25rem;
}


/* container-full-footer */
.container-full-footer {
    background: #e4e4e4;
}
.container-full-footer .text_area {
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-full-footer .text_area p {
    font-family: "Noto Sans KR";
    font-size: 1.25rem;
    margin-right: 1rem;
}

/* 1 메인페이지 */
/* 메인페이지 끝 */

/* 서브페이지 */

.container-sub-head.btm {
    border-bottom: 1px solid #707070;
}
.container-sub-head .sub-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem 0 1rem;
}
.container-sub-head .back-contents {
    display: flex;
    align-items: center;
}
.container-sub-head .back-contents p {
    font-family: "Noto Sans KR";
    font-size: 1.2857rem;
    margin-left: 1rem;
}
.container-sub-head .sub-top .icon_wrap a {
    position: relative;
    margin-left: .5rem;
}
.container-sub-head .sub-top .icon_wrap a.new::after {
    content: "";
    position: absolute;
    right: 0px;
    top: -5px;
    display: block;
    width: .5rem;
    height: .5rem;
    border-radius: 50%;
    background: #fc274f;
}
.container-sub-head .sub-top .icon_wrap a:first-child {
    margin-left: 0;
}

.container-sub-head .information a {
    margin-right: .5rem;
}

.container-sub-head .menu_wrapper {
    position: relative;
    padding: 0 30px;
}

.container-sub-head .menu-swiper {
    padding: 0 30px;
}
.container-sub-head .menu-swiper .swiper-slide a {
    opacity: .5;
    filter: grayscale(1);
}
.container-sub-head .menu-swiper .swiper-slide .active {
    opacity: 1;
    filter: grayscale(0);
}
.container-sub-head .menu-swiper a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.container-sub-head .menu-swiper .icon_area {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 4.5rem;
}
.container-sub-head .menu-swiper .text_area p {
    font-weight: bold;
    transform: skew(-0.1deg);
}
.container-sub-head .next,
.container-sub-head .prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.container-sub-head .next {
    right: 2rem;
}
.container-sub-head .prev {
    left: 2rem;
}
.container-sub-head .next img, .container-sub-head .prev img {
    width: 1rem;
}


/* container-full-wedding */
.container-full-wedding .warp-m {
    padding: 2rem 0;
}
.container-full-wedding select {
    color: #fc274f;
    padding: 0.3125rem 2.5714rem 0.3125rem 1rem;
    border-radius: 1.5rem;
    border: 1px solid #d1d1d1;
    background-size: .7142rem;
}

.container-full-wedding .img_area {
    width: 100%;
    height: 10rem;
    border-radius: 1rem;
    overflow: hidden;
}
.container-full-wedding .img_area img {
    width: 100%;
    height: 100%;
}
.container-full-wedding .text_area {
    margin-top: .3571rem;
}
.container-full-wedding .text_area p {
    font-size: 1.2857rem;
    font-weight: bold;
}
.container-full-wedding .text_area span {
    font-family: "Noto Sans KR";
    font-weight: lighter;
    font-size: 1rem;
    color: #1e1e1e;
}
.container-full-wedding .text_area img {
    vertical-align: middle;
    width: 1rem;
    height: 1rem;
    margin-left: .25rem;
    filter: grayscale(1);
}

/* container-full-option */
.container-full-option .warp-m {
    padding: 2rem 0;
}
.container-full-option .option-conts {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container-full-option label {
    position: relative;
    width: 95%;
}
.container-full-option label input {
    width: 100%;
    padding: .75rem 2rem .75rem 1.5rem;
    border: 1px solid #d1d1d1;
    border-radius: 1.5rem;
}
.container-full-option label button {
    position: absolute;
    right: 0;
    padding: .75rem;
    border: none;
    border-radius: 50%;
    background: rgba(254, 86, 109, 0.1);
}
.container-full-option label button img {
    width: 1.5rem;
    height: 1.5rem;
}
.container-full-option .open-option {
    border: none;
    background: transparent;
    margin-left: 1rem;
}


/* container-full-list */
.container-full-list .img_area {
    height: 10rem;
    border-radius: 1rem;
    overflow: hidden;
}
.container-full-list .img_area img {
    width: 100%;
    height: 100%;
}
.container-full-list .text_area {
    padding-top: .3571rem;
}
.container-full-list .text_area span {
    font-family: "Noto Sans KR";
    font-weight: lighter;
    font-size: 1rem;
    color: #1e1e1e;
}
.container-full-list .text_area p {
    font-size: 1.2857rem;
    font-weight: bold;
}
/* .container-full-list .text_area img {
    width: 1rem;
    height: 1rem;
    vertical-align: middle;
    margin-left: .25rem;
    filter: grayscale(1);
} */

.button-wrap .next,
.button-wrap .prev {
    position: absolute;
    top: 40%;
    transform: translateY(-40%);
    cursor: pointer
}
.button-wrap .next {
    right: 0;
}
.button-wrap .prev {
    left: 0;
}
.button-wrap .next img,
.button-wrap .prev img {
    width: 1rem;
}


.container-full-list .list-contents {
    padding: 0;
}
.container-full-list .list-contents li {
    margin-bottom: 1rem;
    box-shadow: 0px 3px 3px -2px rgba(124, 124, 124, 0.3);
}
.container-full-list .list-contents li:last-child {
    margin-bottom: 0;
}
.container-full-list .list-contents .img_area {
    height: auto;
    border-radius: 0;
}
.container-full-list .list-contents .text_area {
    padding: 1rem 2rem;
    background:#fff;
}
.container-full-list .list-contents .content_sub {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container-full-list .list-contents .content_sub i {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background: url(../images/icon/ico_like.png)no-repeat;
    background-size: 1.5rem;
}
.container-full-list .list-contents .content_sub i.active {
    background: url(../images/icon/ico_like_fill.png)no-repeat;
    background-size: 1.5rem;
}
.container-full-list .list-contents .content_sub span {
    font-size: 1.1428rem;
}
.container-full-list .list-contents .content_main {
    display: flex;
    align-content: flex-end;
    justify-content: space-between;
    background: #fff;
}
.container-full-list .list-contents .content_main p {
    font-family: "Noto Sans KR";
    font-weight: bold;
    font-size: 1.7142rem;
}
.container-full-list .list-contents .price {
    display: flex;
    align-items: flex-end;
}
.container-full-list .list-contents .content_main del {
    font-family: "Noto Sans KR";
    font-size: 1rem;
    color: #a7a7a7;
}
.container-full-list .list-contents .content_main span {
    font-family: "Noto Sans KR";
    font-weight: bold;
    font-size: 1.4285rem;
    color: #fc274f;
    margin-left: .5rem;
}
.container-full-list .list-contents .content_main span:last-child {
    font-family: "Noto Sans KR";
    font-weight: 400;
    font-size: 1.4285rem;
    color: #000;
    margin: 0px;
}

/* container-full-studio */
.container-full-studio .studio_title h1 {
    font-family: "Noto Sans KR";
    font-weight: bold;
    font-size: 1.7142rem;
}
.container-full-studio .panorama_area img {
    width: 100%;
}

.container-full-studio .studio_intro {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 2rem;
    border-bottom: 2px solid #1e1e1e;
}
.container-full-studio .studio_conts span {
    font-family: "Noto Sans KR";
    font-weight: lighter;
    font-size: 1rem;
    color: #1e1e1e;
}
.container-full-studio .studio_conts p {
    font-family: "Noto Sans KR";
    font-weight: bold;
    font-size: 1.5rem;
    color: #1e1e1e;
}

.container-full-studio .studio_icons ul {
    display: flex;
}
.container-full-studio .studio_icons ul li {
    margin-left: 1rem;
}
.container-full-studio .studio_icons ul li a {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.container-full-studio .studio_icons ul li img {
    height: 1.5rem;
}
.container-full-studio .studio_icons ul li p {
    font-family: "Noto Sans KR";
    font-size: 1rem;
    color: #1e1e1e;
    margin-top: .5rem;
}

.container-full-studio .content_text p {
    font-family: "Noto Sans KR";
    font-weight: bold;
    font-size: 1.2857rem;
}

.container-full-studio .content_hashtag p {
    font-family: "Noto Sans KR";
    font-weight: normal;
    font-size: 1rem;
}

.container-full-studio .content_review {
    padding: 1rem .5rem;
    border-top: 1px solid rgba(112, 112, 112, 0.6);
    border-bottom: 1px solid rgba(112, 112, 112, 0.6);
}
.container-full-studio .content_review .score {
    display: flex;
    align-items: center;
}
.container-full-studio .content_review .stars {
    display: flex;
    align-items: center;
}
.container-full-studio .content_review .grade {
    display: flex;
    align-items: center;
    margin-left: 1rem;
}
.container-full-studio .content_review .grade span {
    margin-left: .5rem;
}

.container-full-studio .content_review a {
    font-size: 1.2857rem;
    margin-left: 1rem;
}
.container-full-studio .content_review a img {
    width: .5rem;
    margin-left: .3571rem;
}

.btn_contents {
    display: flex;
    align-items: center;
}
.btn_contents .content {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 12.8571rem;
    width: 100%;
    height: 4rem;
}
.btn_contents .content a {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 4rem;
    font-family: "Noto Sans KR";
    text-align: center;
    color: #fff;
    background: #3b3b3b;
}
.btn_contents .content.light a {
    background: #fc274f;
}

/* container-full-items */
.container-full-items .nav-tabs {
    border-top: 1px solid rgba(112, 112, 112, 0.6);
    border-bottom: 1px solid rgba(112, 112, 112, 0.6);
}
.container-full-items .nav-tabs li {
    width: 33%;
}
.container-full-items .nav-tabs li a {
    display: block;
    width: 100%;
    height: 100%;
    font-family: "Noto Sans KR";
    text-align: center;
    padding: 1rem 0;
    font-size:1.0714rem;
}
.container-full-items .nav-tabs li a.active {
    font-weight: bold;
}

.container-full-items .product-info {
    border-right: 1px solid rgba(112, 112, 112, 0.6);
}

.container-full-items #map {
    width: 100%;
    height: 16rem;
}

.container-full-items .tab-pane h2 {
    font-family: "Noto Sans KR";
    font-size: 1.5rem;
}
.container-full-items .area-info > span {
    display: block;
    font-size: 1rem;
    margin-top: 1rem;
}
.container-full-items .area-info > p {
    font-size: 1.1428rem;
    font-weight: bold;
}
.container-full-items .area-info .area-conts p {
    font-family: "KoPub Dotum";
    font-weight: bold;
    color: #7e7e7e;
    transform: skew(-0.1deg);
}
.container-full-items .area-info .area-conts p span {
    font-weight: normal;
}
.container-full-items .cancel-area li {
    font-family: "KoPub Dotum";
}

/* recommend-products */
.recommend-products .swiper-slide .img_area img {
    width: 100%;
    height: 15rem;
    border-radius: 1.5rem;
    overflow: hidden;
}
.recommend-products .text_area {
    margin-top: 1rem;
}
.recommend-products .text_area span {
    display: block;
    font-family: "Noto Sans KR";
    font-weight: 300;
    color: #1e1e1e;
}
.recommend-products .text_area p {
    font-size: 1.2857rem;
    font-weight: 800;
    color: #1e1e1e;
}
.recommend-products .text_area img {
    vertical-align: baseline;
    width: 1rem;
    height: 1rem;
    margin-left: .25rem;
}

/* matching.html */
.container-sub-head .sub-menu {
    border-bottom: 1px solid rgba(112, 112, 112, 0.6);
}
.container-sub-head .sub-menu.nbm{
    border-bottom: none;
}
.container-sub-head .sub-menu h1 {
    position: relative;
    display: inline;
    font-family: "Noto Sans KR";
    font-size: 1.4285rem;
    font-weight: bold;
    border-bottom: 2px solid #fc274f;

}
.container-sub-head .sub-menu ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container-sub-head .sub-menu a {
    position: relative;
    font-family: "Noto Sans KR";
    font-size: 1.1428rem;
    padding: .2857rem;
}
.container-sub-head .sub-menu .active a {
    color: #fc274f;
    font-weight: bold;
}
.container-sub-head .sub-menu .active a::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 1px;
    width: 100%;
    height: 2px;
    margin: 0 auto;
    border-radius: 5px;
    background: #fc274f;
}


.gallery_area ul {
    display: flex;
    flex-wrap: wrap;
}
.gallery_area li {
    max-width: 33.33%;
    height: 15rem;
    overflow: hidden;
}
.gallery_area li img {
    width: 100%;
    height: 100%;
}








.sub-footer p {
    font-family: "Noto Sans KR";
    color: rgba(30, 30, 30, .24);
}








/* 매칭 서클 영역 */
.matching_circle_wrap {
    display: flex;
    justify-content: center;
}
.matching_circle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25rem;
    height: 25rem;
    font-family: "Noto Sans KR";
    text-align: center;
    border: 1px solid #2680EB;
    border-radius: 100%;
    box-shadow: 3px 3px 3px rgba(101, 215, 219, 0.2);
}
.matching_circle h1 {
    font-weight: bold;
    font-size: 2rem;
    color: #333;
}
.matching_circle p {
    font-size: 1.5rem;
    font-weight: lighter;
    color: #9e9e9e;
}
.matching_circle span {
    color: #2680EB;
    font-weight: bold;
}
.matching_circle .circle_in_line {
    width: 70%;
    height: 1px;
    margin: 2rem 0;
    background: #707070;
}
.matching_circle img {
    width: 1.875rem;
}

/* 매칭 폼 영역 */
.matching_form {
    font-family: "Noto Sans KR";
}
.matching_form .cont:not(:first-child) {
    margin-top: 2.5rem;
}
.matching_form .inputs_wrap {
    width: 80%;
}
.matching_form input,
.matching_form select {
    width: 100%;
    height: 3.5rem;
    font-size: 1.25rem;
    font-weight: lighter;
    border: 1px solid #707070;
    border-radius: 100px;
    color: #707070;
}
.matching_form select {
    background: url(../images/icon/ico_tri_down.png) no-repeat;
    background-position: 90% 50%;
}
.matching_form .cont p {
    align-self: center;
    font-size: 1.5rem;
    font-weight: 400;
    color: #707070;
}
.matching_form .matching_name label,
.matching_form .hope_area label {
    position: relative;
    width: 80%;
}
.matching_form .matching_name input, 
.matching_form .hope_area input {
    width: 100%;
    padding: 0 1rem;
}
.matching_form input[type="text"] + button {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background: transparent;
    border: none;
}
.matching_form .cont input[type="search"] + button {
    position: absolute;
    top: 50%;
    right: 1px;
    transform: translateY(-50%);
    width: 3.25rem;
    height: calc(100% - 2px);
    background: #FFEEF0;
    border: none;
    border-radius: 100%;
}
.matching_form .cont input[type="search"] + button img {
    width: 1.25rem;
}
.matching_form input.datepicker {
    width: 100%;
    background: url(../images/icon/ico_tri_down.png) no-repeat;
    background-position: 90% 50%;
}
.matching_form .hope_date label[for="datepicker"] {
    width: 40%;
}
.matching_form label[for="time"] {
    width: 50%;
}
.matching_form #time {
    width: 50%;
    text-align-last: center;
    margin-left: 1rem;
}
.matching_form input[type="radio"] {
    display: none;
}
.matching_form input[type="radio"] + label {
    display: flex;
    align-items: center;
    height: 3.5rem;
    font-size: 1.25rem;
    color: #707070;
    margin-right: 1rem;
    padding: 0 2.5rem;
    border: 1px solid #707070;
    border-radius: 100px;
    cursor: pointer;
}
.matching_form .expected_guests .inputs_wrap>div,
.matching_form .hope_cost .inputs_wrap>div {
    min-width: 13.5rem;
}
.matching_form .expected_guests input + label,
.matching_form .hope_cost input + label {
    width: 100%;
    justify-content: center;
    margin-right: 0;
    padding: 0;
}
.matching_form input[type="radio"]:checked + label {
    background: #FFEEF0 !important;
    color: #171717;
}
.matching_form .hope_time label[for="meridiem"] {
    width: 20%;
}
.matching_form #meridiem {
    width: 100%;
    text-align-last: center;
}
.matching_form .etc label {
    width: 80%;
}
.matching_form .etc p {
    align-self: flex-start;
}
.matching_form #etc_text {
    width: 100%;
    height: 15rem;
    font-size: 1.25rem;
    color: #707070;
    border-radius: 50px;
    padding: 2rem;
}
.matching_form #etc_text:focus {
    outline: none;
}
.matching_form .done_btn {
    width: 100%;
}
.matching_form .done_btn button {
    max-width: 13rem;
    width: 100%;
    height: 3.5rem;
    font-size: 1.5rem;
    background: transparent;
    border: 1px solid #707070;
    border-radius: 100px;
}
.matching_form .done_btn button:first-child {
    margin-right: .7142rem;
    color: #FC274F;
    border: 1px solid #FC274F;
}
.matching_form .done_btn button:last-child {
    color: #707070;
}

/* 다이어리 매칭 폼 영역 */
.container-sub-head .nav {
    flex-wrap: nowrap;
}
.diary_form_bg {
    width: 100%;
    background: #F5F5F5;
}
.diary_form .inputs_wrap {
    width: 100%;
}
.diary_form p {
    display: inline-block;
    margin-bottom: 1rem;
}
.diary_form span {
    display: inline-block;
    font-weight: lighter;
    color: #707070;
    padding-left: 5px;
}
.diary_form span sub {
    position: relative;
    top: -3px;
}
.diary_form .matching_name label,
.diary_form .hope_area label,
.diary_form .etc label {
    width: 100%;
}
.diary_form .expected_guests .inputs_wrap>div,
.diary_form .hope_concept .inputs_wrap>div,
.diary_form .hope_cost .inputs_wrap>div {
    min-width: 17rem;
}
.diary_form .hope_concept .inputs_wrap>div:first-child {
    margin-bottom: 1rem;
}
.diary_form .hope_concept label {
    justify-content: center;
    width: 100%;
}
.diary_form .expected_guests label,
.diary_form .hope_concept label,
.diary_form .hope_cost label {
    margin-right: 0;
}
.diary_form input,
.diary_form select,
.diary_form input[type="radio"] + label {
    background-color: #fff !important;
}
.diary_form .etc textarea::placeholder {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}
.diary_form .save_btn {
    width: 100%;
}
.diary_form .save_btn button {
    max-width: 20rem;
    width: 100%;
    height: 3.5rem;
    font-size: 1.5rem;
    font-weight: 100;
    color: #FC274F;
    background: #fff;
    border: 1px solid #FC274F;
    border-radius: 100px;
    transition: all .1s linear;
}
.diary_form .save_btn button strong {
    font-weight: 900;
}


.wedding-date-wrap .wedding-main-title {
    padding: 3rem 0;
    border-bottom: 1px solid #dddddd;
}
.wedding-main-title h1 {
    font-family: "Noto Sans KR";
    font-weight: 500;
    color: #1E1E1E;
    font-size: 1.8571rem;
}
.wedding-date-wrap .wedding-main-title h2{
    font-family: "Noto Sans KR";
    font-weight: 300;
    font-size: 1.7142rem;
}
.wedding-date-wrap .wedding-main-title h2 span {
    font-weight: 700;
    font-size: 2rem;
}
.wedding-date-wrap .d-day-change button{
    background: white;
    border: 1px #B1B0B0 solid;
    border-radius: 1px;
    padding: .5rem 1rem;
    font-size: 1rem;
    color: #B1B0B0;
}

/* wedding-diary-top */
.wedding-diary-top {
    margin-top: 3rem;
}
.wedding-diary-top .wedding-main-title h1 {
    font-family: "Noto Sans KR";
}
.wedding-diary-top .weddingSlider .swiper-slide p{
    font-family: "Noto Sans KR";
    font-size: 1.4285rem;
    font-weight: bold;
    color: #363636;
    margin-bottom: 1.4285rem;
}
.wedding-diary-top .weddingSlider .text_area span {
    font-family: "Noto Sans KR";
    font-size: 1.1428rem;
    font-weight: 100;
}
.wedding-diary-top .weddingSlider .text_area h5{
    max-width: 120px;
    width: 100%;
    font-family: "KoPub Dotum";
    font-size: 1rem;
    font-weight: 300;
    color: #fff;
    margin: 0.4825rem auto;
    padding: 5px 0;
    border-radius: 15px;
    background-color: #FF3D62;
}
.wedding-diary-top .weddingSlider .text_area > a{
    font-family: "Noto Sans KR";
    font-size: 0.9rem;
    font-weight: 100;
    color: #777777;
}
.wedding-diary-top .weddingSlider .img_area {
    margin: 0 auto;
    max-width: 12.5rem;
    width: 100%;
    height: 12.5rem;
    border-radius: 50%;
    line-height: 12.5rem;
    color: #fff;
    margin-bottom: 1.2857rem;
}
.wedding-diary-top .weddingSlider .wedding-content-01 .img_area {
    background: url(../images/wedSlide01.png)no-repeat;
    background-size: cover;
}
.wedding-diary-top  .weddingSlider .wedding-content-02 .img_area {
    background: url(../images/wedSlide02.png)no-repeat;
    background-size: cover;
}
.wedding-diary-top .weddingSlider .wedding-content-03 .img_area {
    background: url(../images/wedSlide03.png)no-repeat;
    background-size: cover;
}
.wedding-diary-top .weddingSliderBottom .wed-title{
    font-size: 1.4857rem;
    font-weight: 800;
    color: #363636;
    margin-bottom: 1.4285rem;
}
.wedding-diary-top .weddingSliderBottom{
    padding-top: 4.2857rem;
}
.wedding-diary-top .weddingSliderBottom .img_area {
    position: relative;
    max-width: 12.5rem;
    width: 100%;
    height: 12.5rem;
    margin: 0 auto;
    margin-bottom: 1.2857rem;
    color: #363636;
    border: 1px #707070 solid;
    border-radius: 50%;
}
.wedding-diary-top .weddingSliderBottom .img_area p{
    position: relative;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    font-family: "Noto Sans KR";
    font-size: 0.9rem;
    font-weight: 100;
    margin: 0 auto;
}
.wedding-diary-top .weddingSliderBottom .text_area p{
    font-family: "Noto Sans KR";
    font-size: 1rem;
    font-weight: 100;
    color: #363636;
}


/* my page */
.container-mp-head .warp-m {
    border-radius: 1rem 1rem 0 0;
}
.container-mp-head .mp_info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
}
.container-mp-head .info_wrap {
    display: flex;
    align-items: center;
}
.container-mp-head .profile {
    max-width: 5rem;
    width: 5rem;
    height: 5rem;
    margin-right: 1rem;
    border-radius: 100%;
    background: #b5b5b5;
}
.container-mp-head .info_wrap .info p {
    font-family: "Noto Sans KR";
    font-weight: bold;
    font-size: 1.2857rem;
}
.container-mp-head .info_wrap .info > span {
    font-family: "Noto Sans KR";
    font-size: 1rem;
}
.container-mp-head .mp_info a {
    display: block;
    font-family: "Noto Sans KR";
    color: #b0b0b0;
    padding: .5rem 1rem;
    margin-right: .5rem;
    border: 1px solid #b0b0b0;
}


/* container-mp-conts */
.container-mp-coin .warp-m {
    padding: 0 15px;
    border-radius: 1rem;
}
.container-mp-coin .br-1 {
    border-radius: 1rem;
}
.container-mp-conts h1 {
    font-family: "Noto Sans KR";
    font-size: 1.2857rem;
    font-weight: bold;
}

.container-mp-coin .tab-select-outer {
    display: none;
}
.container-mp-coin #tab-select {
    width: 100%;
    font-size: 1.25rem;
    padding: 1.5rem;
    border: 1px solid #707070;
    border-radius: 100px;
}
.container-mp-coin .coin-tabs ul {
    display: flex;
    align-items: center;
}
.container-mp-coin .coin-tabs ul li {
    display: flex;
    justify-content: center;
    width: 33.33%;
}
.container-mp-coin .coin-tabs ul li a {
    display: flex;
    align-items: center;
    width: 100%;
}
.container-mp-coin .coin-tabs ul li p {
    font-family: "Noto Sans KR";
    font-size: 1.1428rem;
    color: #717171;
    margin-left: .7142rem;
}

.container-mp-conts .date {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #a7a7a7;
}
.container-mp-conts .day-wrap {
    margin-left: .5rem;
}
.container-mp-conts .date p {
    font-size: 1rem;
    font-weight: lighter;
    margin-top: .5rem;
}
.container-mp-conts .date p span {
    font-size: 1.2857rem;
    font-weight: bold;
}
.container-mp-conts .date a {
    display: block;
    font-family: "Noto Sans KR";
    color: #b0b0b0;
    padding: .5rem 1rem;
    margin-right: .5rem;
    border: 1px solid #b0b0b0;
}

.container-mp-conts ul { 
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.container-mp-conts ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
}
.container-mp-conts ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.container-mp-conts ul li p {
    font-family: "Noto Sans KR";
    font-size: 1.2857rem;
    margin-top: .5rem;
}

.container-mp-coin .coin-conts {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0 15px;
    border-bottom: 1px solid #a7a7a7;
}
.container-mp-coin .coin-item {
    display: flex;
    align-items: flex-end;
}
.container-mp-coin .coin-item p {
    font-family: "Noto Sans KR";
    font-size: 1.2857rem;
    margin-left: .7142rem;
}
.container-mp-coin .total {
    display: flex;
    align-items: flex-end;
}
.container-mp-coin .total h1 {
    font-size: 2.8571rem;
    font-weight: 900;
    color: #fc274f;
}
.container-mp-coin .total span {
    font-family: "Noto Sans KR";
    font-size: 1.2857rem;
    margin-left: .5rem;
    margin-bottom: .4285rem;
}

.container-mp-coin .coin-tabs ul {
    display: flex;
    align-items: center;
}
.container-mp-coin .coin-tabs ul li {
    display: flex;
    justify-content: center;
    width: 33.33%;
}
.container-mp-coin .coin-tabs ul li a {
    display: flex;
    align-items: center;
    width: 100%;
}
.container-mp-coin .coin-tabs ul li p {
    font-family: "Noto Sans KR";
    font-size: 1.1428rem;
    color: #717171;
    margin-left: .7142rem;
}

.container-btn-wrap ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 0;
}
.container-btn-wrap li {
    width: 49%;
}
.container-btn-wrap li button {
    width: 100%;
    font-family: "Noto Sans KR";
    font-size: 1.2875rem;
    color: #c5c5c5;
    padding: 1.5rem 0;
    border: 1px solid #c5c5c5;
    border-radius: 3rem;
    background: transparent;
}
.container-btn-wrap li .pk {
    color: #fc274f;
    border: 1px solid #fc274f;
}


.container-full-MI .matching_circle_form {
    display: flex;
    justify-content: center;
}
.container-full-MI .fix_btn {
    display: flex;
    justify-content: flex-end;
}
.container-full-MI .fix_btn ul li {
    font-family: "Noto Sans KR";
    font-size: 1.125rem;
    padding: 0.5rem;
}
.container-full-MI .fix_btn ul li:first-child {
    color: #2680EB;
}
.container-full-MI .fix_btn ul li:nth-child(2){
    vertical-align: middle;
    width: 1px;
    height: 1.125rem;
    margin-top: 0.75rem;
    padding: 0;
    background-color: #000;
}
.container-full-MI .info_area {
    margin-top: 2.1428rem;
}
.container-full-MI .info_area ul li {
    display: flex;
    margin-bottom: 1rem;
}
.container-full-MI .info_area ul li p  {
    font-family: "Noto Sans KR";
    font-size: 1rem;
    /* letter-spacing: -1px; */
    color: #9e9e9e;
    margin-right: 0.5rem;
}
.container-full-MI .info_area ul li span {
    font-family: "Noto Sans KR";
    font-size: 1rem;
    color: #000;
}
.container-full-MI .message_menu {
    margin-top: 3rem;
}
.container-full-MI .message_menu ul {
    display: flex;
}
.container-full-MI .message_menu ul li {
    width: 50%;
}

.container-full-MI .message_menu ul li:nth-child(2) {
    border-right: none;
}
.container-full-MI .message_menu ul li a {
    display: inline-block;
    width: 100%;
    font-family: "Noto Sans KR";
    font-size: 1.5rem;
    text-align: center;
    padding: 1rem 2rem;
    border: 1px solid #9e9e9e;
    border-bottom: 2px solid #9e9e9e;
    border-radius: 0;
    background-color: #f6f6f6;
}
.container-full-MI .message_menu ul li span {
    font-weight: bold;
}
.container-full-MI .message_menu ul li a:hover {
    border: 1px solid #9e9e9e;
    border-bottom: 2px solid #9e9e9e;
}
.container-full-MI .message_menu ul li .nav-link.active {
    border: none !important;
    border-top: 1px solid #9e9e9e !important;
}
.container-full-MI .message_menu ul li:last-child .nav-link.active {
    border-right: none;
}
.container-full-MI .message_menu ul li:first-child a {
    border-left: none !important;
}
.container-full-MI .message_menu ul li:last-child a {
    border-right: none !important;
}

.container-full-MI .message_area {
    margin-top: 1.25rem;
}
.container-full-MI .message_area ul li {
    margin-top: 2rem;
}
.container-full-MI .message_area .message_title {
    display: flex;
    justify-content: space-between;
}
.container-full-MI .message_area .message_profile a {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.container-full-MI .message_area .message_profile .profile_img {
    width:50px;
    height: 50px;
    border-radius: 100%;
    background-color: #9e9e9e;
}
.container-full-MI .message_area .message_title .message_profile p {
    font-family: "Noto Sans KR";
    font-size: 1.125rem;
    color: #2680EB;
    margin-left: 1rem;
}
.container-full-MI .message_area .message_title2 .message_profile p {
    margin-right: 1rem;
}
.container-full-MI .message_area .message_icon {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.container-full-MI .message_area .message_icon a:first-child {
     margin-right: 1rem;
}
.container-full-MI .message_area .message_text {
    width: 100%;
    font-family: "Noto Sans KR";
    font-size:  1rem;
    margin-top: 1rem;
    padding: 1rem;
    border: 1px solid #2680EB;
    border-radius: 4px;
}
.container-full-MI .message_area .message_date {
    display: flex;
    justify-content: flex-end;
}
.container-full-MI .message_area .message_date p {
    font-family: "Noto Sans KR";
    font-size:  0.8571rem;
    color: #9e9e9e;
}
.container-full-MI .message_area .message_date2 {
    display: flex;
    justify-content: flex-start;
}
.container-full-MI .message_area .message_date p {
    margin-top: 0.2rem;
    margin-right: 0.5rem;
}
.container-full-MI .message_area .message_date2 p {
    margin-left: 0;
    margin-left: 0.5rem;
}


.container-full-start {
    padding-top: 2rem;
}
.container-full-start p {
    position: relative;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    padding: .5rem;
    border-radius: 2rem;
    background: #fc274f;
}
.container-full-start p::after {
    content: "";
    position: absolute;
    left: 3rem;
    bottom: -5px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #fc274f;
    border-bottom: 0px solid transparent;
}
.container-full-start button {
    width: 100%;
    font-family: "Noto Sans KR";
    font-size: 1.2857rem;
    font-weight: bold;
    color: #fc274f;
    margin-top: 1rem;
    padding: .5rem 0;
    border: 1px solid #fc274f;
    border-radius: 5px;
    background: transparent;
}

.container-matching-item {
    margin-top: 3rem;
}
.container-matching-item .matching-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container-matching-item .matching-title p {
    font-family: "Noto Sans KR";
    font-weight: 600;
    font-size: 1.1428rem;
    color: #2680EB;
}
.container-matching-item .matching-title select {
    font-family: "Noto Sans KR";
    padding: 0 2rem 0 0;
    border: none;
}
.container-matching-item ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 3rem;
}
.container-matching-item ul li {
    max-width: 49%;
    width: 100%;
    margin-bottom: 2rem;
}

.container-matching-item ul li .matching_circle {
    max-width: 100%;
    box-shadow: 3px 3px 10px rgba(101, 215, 216, .5);
}